.game {
  text-align: center;
  width: 100%;
  height: 93.5%;
  overflow-y: hidden;
}

.all_settings {
  justify-content: center;
  display: flex;
  position: relative;
  bottom: 4rem;
}

.save_button {
  position: relative;
  bottom: 4.5rem;
  left: 41rem;
}