.gameControl {
    width: 50%;
    margin: 1.5rem 1rem 2rem 1rem;
}

.updatableField {
    display: inline-grid;
    justify-items: start;
    grid-template-columns: 15% 4.5% 20% 4.5%;
    grid-template-rows: 1.4rem;
    width: 100%;
}

.delayControl {
    margin: auto auto 0.45rem 1rem;
}

.minAliveControl, .maxAliveControl {
    margin: 0.45rem auto 0.45rem 1rem;
}

.cntBirthControl {
    margin: 0.45rem auto auto 1rem;
}

.updatableFieldName {
    margin: auto 0.45rem auto auto;
    padding: 15px 0;
}

.updatableFieldValue {
    margin: auto 0.2rem auto 0.2rem;
    width: 100%;
}

.updatableFieldValue div input {
    font-size: 15px;
    width: 100%;
}

.updateButton {
    margin: auto 0.2rem;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.runPauseButton {
    font-size: 20px;
    text-align:center;
}