.settings {
    margin: 2rem 1rem 2rem 1rem;
    width: 50%;
}

.field .name {
    justify-self: end;
    margin: 10px 0 10px auto;
}

.field .value {
    width: 20rem;
}

.field .value input {
    width: 100%;
    font-size: 15px;
}

.field {
    display: flex;
    justify-content: flex-end;
}