:root {
    --font-small-size: 0.8rem;
}

.settings {
    /*width: 30rem;*/
    margin: 2rem 1rem 2rem 1rem;
    width: 50%;
}

.field .name {
    justify-self: end;
    padding: 0.8rem 1rem 0 0;
}

.field .value {
    width: 20rem;
    padding: 0.8rem 3.5rem 0 0;
}

.field .value input {
    width: 100%;
    font-size: 15px;
}

.error {
    width: 100%;
    text-align: right;
    font-size: var(--font-small-size);
    color: red;
}

.field {
    display: flex;
    justify-content: flex-end;
}

.settingsButton {
    float: right;
    margin: 1rem 11rem 0 5.5rem;
    padding: 0 1.6rem;
}