:root {
    --font-small-size: 0.8rem;
}

.settings {
    width: 30rem;
    margin: 2rem auto;
}

.field .name {
    grid-area: name;
    justify-self: end;
    padding: 0.8rem 1rem 0 0;
}

.field .value {
    grid-area: value;
    padding: 0.8rem 3.5rem 0 0;
}

.field .value input {
    width: 100%;
}

.field .error {
    grid-area: error;
    font-size: var(--font-small-size);
    color: red;
}

.field {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "name value" ". error";
    align-items: center;
}

.settingsButton {
    text-align: center;
    margin: 1rem 0.5rem 0 5.5rem;
    padding: 0 1.6rem;
}